<ol class="list-group">
  <li class="list-group-item">
<!--   appItem(cv) -->
<!--   appItem(cvs[0]) -->
    <app-item (selectCv)="forwardCv($event)" [cv]="cvs[0]"></app-item>
  </li>
  <li class="list-group-item">
<!--   appItem(cv) -->
<!--   appItem(cvs[0]) -->
    <app-item [cv]="cvs[1]" (selectCv)="forwardCv($event)"></app-item>
  </li>
  <li class="list-group-item">
<!--   appItem(cv) -->
<!--   appItem(cvs[0]) -->
    <app-item [cv]="cvs[2]" (selectCv)="forwardCv($event)"></app-item>
  </li>
</ol>
